body
{
	margin: auto;
	width: 50%;
	min-width: 300px;
	max-width: 720px;
	font-size: 1.25em;
}

#title
{
	font-size: 2em;
}

#description
{
	font-size: 0.9em;
	padding-bottom: 1em;
	color: #303030;
}

label
{
	display: block;
}

input
{
	margin: 0.5% 0;
	width: 100%;
	min-height: 1.5em;
}

select
{
	margin: 0.5% 0;
	height: 2em;
	min-width: 15%;
	min-height: 1.5em;
}

input[type="radio"], input[type="checkbox"]
{
	width: unset;
}

textarea
{
	width: 100%;
}

input[type="button"]
{
	display: block;
	margin: 1em auto;
	width: 50%;
	height: 2em;
	min-height: 1.5em;
}

#grid
{
	display: flex;
	flex-flow: row;
}

.exp
{
	width: 50%;
}

#disclaimer
{
	text-align: right;
	font-size: 0.8em;
	padding-top: 1em;
	padding-left: 25%;
	width: 75%;
	color: #303030;
}